@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
/* Configuração para zerar a página */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Serif";
}

header{
    height: 15vh;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    text-align: center;    
    color: #fafafa;
    background-color:  #044974;
}

main{
    padding: 3vh;
    font-size: 12px;
}

.espaco{
    display: block;
    margin: 10px;
}

h1{
    font-size: 15px;
}

h2{
    margin: 10px 10px 0 10px;
    font-size: 10px;
}

#respostas{
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    width: 60vh;
    font-weight: 600;
    color: #044974;
}

#parte_inferior{
    margin-top: 6vh;
    display: flex;
    justify-content: center;
}