@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
/* Configuração para zerar a página */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Serif";
}


header{
  height: 10vh;
  background-color: #2985DA;
}

#logo_pref{
  height: 10vh;
}