*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7f3fa;
}

#conteiner-cadastro{
    background-color: #FAFAFA;
    width: 70%;
    height: fit-content;
    padding: 3vh;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    box-shadow: 0px 5px 15px rgba(0 , 0 , 0 , 0.137);
}

#msg-bem-vindo{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

#conteiner-itens{
    margin-bottom: 3vh;
    height: 100%;
}

#titulo{
    font-size: 2rem;
    margin-bottom: 5vh;
}

#alerta-pais {
    color: #f8a322;
    font-size: 1rem;
    font-weight: 500;
}

.item-cadastro{
    color: #DD8604;
    margin-top: 6vh;
}


.input-item{
    border-color: #FAD200;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    padding: 1vh;
    height: 30px;
    font-size: 1rem;
}

.display-block {
    display: block;
}

.label-item{
    position: absolute;
    margin-top: -13px;
    background-color: #FAFAFA  ;
    margin-left: 1vh;
}

#senha-nao-bate {
    display: none;
}

#div-botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

#proximo{
    height: 8vh;
    font-size: 20px;
    border-color: #ebc52e;
    border-style: solid;
    font-weight: 700;
    width: fit-content;
    border-radius: 7px;
    border-width: 4px;
    background-color: #e7b160;
}