/* Configuração para zerar a página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    height: 10vh;
}

.conteudos {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.interrogacao {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0068C8;
}

/* MAIN */
.container-main {
    width: 100vw;
    height: 90vh;
    flex-shrink: 0;
    background-color: #f9f9fa;
}

/* Botão em Frente */
.btn {
    display: flex;
    justify-content: center;
}

.btn-em-frente {
    display: flex;
    height: 10vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 1.4rem;
    color: #f9f9fa;
    background: rgba(17, 134, 241, 0.70);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    border: 4px solid #FFF;
}
