<<<<<<< HEAD

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
=======
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
>>>>>>> 932a388a87bc8c9eaa1289550015e7757d832ced
}

#conteiner-cadastro{
    background-color: #FAFAFA;
    width: 40vh;
}

.login-form-item{
    margin-top: 10%;
    margin-bottom: 10%;
}

#password-not-match {
    display: none;
}

.display-block {
    display: block;
}