@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
 /* Configuração para zerar a página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
}

@keyframes pulse {
    0%   {transform: scale(0.85);}
    25%  {transform: scale(1);}
    50%  {transform: scale(0.85);}
    75%  {transform: scale(1);}
    100% {transform: scale(0.85);}
  }

#logotipo-carregamento {
    height: 353.2px;
    width: 250px;
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}