* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.flex {
    display: flex;
}

.block {
    display: block;
    
}

.centro-linha {
    justify-content: center;
}

.centro-coluna {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.font {
    font-family: "Outfit", sans-serif;
    font-size: 180%;
    font-weight: 600;
    color: white;
}

#main {
    display: grid;
    height: 90vh;
    grid-row: auto auto auto;
    grid-template-columns: 100vw; 
}

#sec-fundamentalI {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    filter: brightness(80%);
}

#sec-fundamentalII {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
    filter: brightness(80%);
}

#sec-EM {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    filter: brightness(80%);
}

#sec-fundamentalI:hover {
    filter: brightness(100%);
}

#sec-fundamentalII:hover {
    filter: brightness(100%);
}

#sec-EM:hover {
    filter: brightness(100%);
}

#margin {
    margin-left: 1vw;
}

/* Parte do Footer */

.nav-list {
    display: flex;
    margin: 0% 0% 0% 0%;
    align-items: center;
    list-style: none;
}

.item {  
    display: flex;
    height: 10vh;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #ffffff;
}

.item:hover {
    background: #9b65f1;
    transition: 0.4s;
}

.footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    background: #AB77FF;;
}

.nav-list {
    display: flex;
    margin: 0% 0% 0% 0%;
    align-items: center;
    list-style: none;
}

.item {  
    display: flex;
    height: 10vh;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #ffffff;
}

.item:hover {
    background: #9b65f1;
    transition: 0.4s;
}