* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.flex {
    display: flex;
}

.block {
    display: block;
    
}

.centro-linha {
    justify-content: center;
}

.centro-coluna {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.font {
    font-family: "Outfit", sans-serif;
    font-size: 180%;
    font-weight: 600;
    color: white;
}

#main {
    display: grid;
    grid-row: auto auto auto;
    grid-template-columns: 100vw; 
}

#sec-fundamentalI {
    background-color: lightseagreen;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
}

#sec-fundamentalII {
    background-color: hotpink;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
}

#sec-EM {
    background-color: goldenrod;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
}

#sec-fundamentalI:hover {
    filter: brightness(100%);
}

#sec-fundamentalII:hover {
    filter: brightness(100%);
}

#sec-EM:hover {
    filter: brightness(100%);
}