* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.centro-linha {
    justify-content: center;
}

.centro-coluna {
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

#sec-principal {
    display: grid;
    grid-row: auto auto auto;
    height: 90vh;  
}