/* TODO Adequar ao PADRÂO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Configuração para zerar a página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Serif";
}

header {
    margin: 0px 0px 20px 0px;
    box-shadow: 0px 0px 7px 0px rgba(180, 178, 178, 0.712);
}

#central {
display: flex;
flex-direction: column;
align-items: center;
gap: 34px;
flex-shrink: 0;
margin: 0% 1% 0% 1%; 
}

#pesquisar-topo {
display: flex;
padding: 12px 15px 0px 15px;
height: 75px;
width: 100%;
justify-content: space-between;
align-items: center;
flex-shrink: 0; 
}

#prefeitura-horizontal {
    width: 150px;
    height: 55px;
    flex-shrink: 0; 
}

#titulo-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}

#bem-vindo-menu {
    color: #000;
    text-align: center;
    font-family: "Roboto Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

#eptran-span {
    color: #ABABAB;
    text-align: center;
    font-family: "Roboto Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.caixas-menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.caixa-menu {
    display: flex;
    width: 170px;
    height: 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    flex-shrink: 0;  
    border-radius: 3px;
    background: #D9D9D9; 
    box-shadow: 0px 1px 5px 0px rgb(131, 128, 128);
    cursor: pointer;
}

.caixa-menu:hover {
    background-color: #a3a0a08a;
    transition: 0.15s;
}

.texto-caixa {
    color: #000;
    text-align: center;
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}

@media(max-width: 370px) {
    .caixa-menu {
        width: 155px;
        height: 155px;
    }
}

@media(max-width: 340px) {
    .caixa-menu {
        width: 135px;
        height: 135px;
    }
}
