@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Configuração para zerar a página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90vh; */
}
/* Footer */

.nav-list {
    display: flex;
    margin: 0% 0% 0% 0%;
    align-items: center;
    list-style: none;
}

.item {  
    display: flex;
    height: 10vh;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #ffffff;
}

.item:hover {
    background: #9b65f1;
    transition: 0.4s;
}

.footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    background: #AB77FF;;
}

.nav-list {
    display: flex;
    margin: 0% 0% 0% 0%;
    align-items: center;
    list-style: none;
}

.item {  
    display: flex;
    height: 10vh;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: #ffffff;
}

.item:hover {
    background: #9b65f1;
    transition: 0.4s;
}