@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
/* Configuração para zerar a página */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ropa Sans", sans-serif;
}

main {
  margin: 0px 20px;
}

.conteudo {
  width: 100%;
}

.conteudo-texto {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
  margin: 50px 10px 30px 10px;
}

.img-prefeitura {
  width: 100vw;
}

.texto {
  padding: 20px;
  background-color: #d9d9d9;
  font-size: 1rem;
}

.texto > p {
  word-spacing: 1px;
  line-height: 1.4;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.titulo > h1 {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  width: 65%;
  background-color: rgb(0, 64, 126);
  color: white;
  margin: -30px 0px 0px 0px;
}

.video {
  margin: 50px 0px 0px 0px;
  width: 100%;
  text-align: center;
}

.video > video {
  width: 100%;
}

#info-totais {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo-info {
  margin: 10px 0px 10px 0px;
  font-size: 1.4rem;
  font-weight: 600;
}

.lista-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

footer {
  margin: 50px 0px 0px 0px;
  height: 300px;
  background-color: #555555;
}
