@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Configuração para zerar a página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteudo {
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 43, 156);
    color: white;
    font-size: 4rem;
}

