@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
/* Configuração para zerar a página */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ropa Sans", sans-serif;
}

main {
  margin: 0px 20px;
}

/* Div do conteudo */
.conteudo {
  width: 100%;
}

.conteudo-texto {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
  margin: 50px 10px 30px 10px;
}

/* Img da Prefeitura */
.img-prefeitura {
  width: 100vw;
}

/* Texto e Titulos */

.texto {
  padding: 20px;
  background-color: #d9d9d9;
  font-size: 1rem;
}

.texto > p {
  word-spacing: 1px;
  line-height: 1.4;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.titulo > h1 {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  width: 65%;
  background-color: rgb(0, 64, 126);
  color: white;
  margin: -30px 0px 0px 0px;
}

/* Vídeo */
.video {
  margin: 50px 0px 0px 0px;
  width: 100%;
  text-align: center;
}

.video > video {
  width: 100%;
}

/* Infos */
#info-totais {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.titulo-info {
  margin: 10px 0px 10px 0px;
  font-size: 1.4rem;
  font-weight: 600;
}

.lista-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

/* Footer */
footer {
  margin: 50px 0px 0px 0px;
  height: auto;
  background-color: #555555;
  color: white;
}

/* Copy */
#copy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#copy > p {
  font-size: 0.7rem;
}
/* Img logo da prefeitura na horizontal  */
#img-footer-prefeitura {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

#img-footer-prefeitura > img {
  width: 100%;
}

/* redes-socias-footer  */
#redes-socias-footer {
  text-align: center;
}

#lista-rede-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
}

#texto-rede-social {
  padding: 5px;
  background-color: rgba(24, 24, 24, 0.74);
}

.logo-item > svg {
  width: 50px;
}
